@model int
<h2>Order Completed</h2>
<p>Your order with ID @Model has been placed successfully.</p>
<a class="text-body" asp-action="Index" asp-controller="Product"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to List</a>